@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--primary-black: #030303;
--primary-white: #fdfdfd;
--header-height: 5rem;
}

html {
  background-color: var(--primary-black);
  color: var(--primary-white);
}



@layer base{
  @font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('./assets/fonts/BarlowSemiCondensed-Black.ttf');
  }
}

@layer components{
  .list-item--link{
    @apply hover:underline underline-offset-8
  }

  .link-btn{
      @apply bg-primary-black text-primary-white flex md:inline-flex items-center justify-center rounded-3xl py-2 px-6 text-sm mt-6 gap-2 font-bold hover:bg-transparent hover:text-primary-black border-primary-white border-2 hover:border-solid hover:border-primary-black hover:transition-all duration-500 dark:bg-primary-white dark:text-primary-black dark:hover:bg-transparent dark:hover:text-primary-white dark:hover:border-primary-white;
  }
}
