@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--primary-black: #030303;
--primary-white: #fdfdfd;
}

html {
  background-color: var(--primary-black);
  color: var(--primary-white);
}
