@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--primary-black: #030303;
--primary-white: #fdfdfd;
--header-height: 5rem;
}

html {
  background-color: var(--primary-black);
  color: var(--primary-white);
}



@layer base{
  @font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('./assets/fonts/BarlowSemiCondensed-Black.ttf');
  }
}

@layer components{
  .list-item--link{
    @apply hover:underline underline-offset-8
  }
}
